*~
core.*
*.[oa]
*.patch
*.orig
*.tar.gz
*.diff


# ius results are not for the vc
irun.log
INCA_libs
.simvision
irun.key

# created by flow
*.fails
qa

# vcs results are not for the vc
csrc
simv*
vc_hdrs.h
ucli.key
*.err

# editor tmp / save files
*.orig
*.swp
*.swo

# questa results are not for the vc
vsim.wlf
wlf*
questa.tops
questa.fails*
work
*.vstf
*.log
transcript
*.out

# ND proj files
uvm_ref/nd/Proj/Data/
uvm_ref/nd/Proj/Languages.txt
uvm_ref/nd/Proj/LastCrash.txt
uvm_ref/nd/Proj/Menu_Backup.txt
uvm_ref/nd/Proj/Menu_save.txt
uvm_ref/nd/Proj/Topics.txt

